<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        
        <authentication mode="Windows" />
        
        <customErrors mode="RemoteOnly" defaultRedirect="/Error">
            <error statusCode="404" redirect="/Lost" />
        </customErrors>

        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="denishoctor.Controllers" />
                <add namespace="denishoctor.Controllers.Helpers" />
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>

        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
        <urlCompression doStaticCompression="true" />
        
        <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/html" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
            <remove fileExtension=".rss" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
            <!-- These are causing an error on discountasp.net IIS7 hosting!! 
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
            <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
            <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
            -->
        </staticContent>
        
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
            </customHeaders>
        </httpProtocol>
        
        <rewrite>
            <rules>
                <rule name="lower">
                    <match url="[A-Z]" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" redirectType="Permanent" />
                </rule>
                <rule name="default">
                    <match url="(.*)default.aspx" ignoreCase="false" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="slash">
                    <match url="[^/]$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{URL}" pattern="\.axd$" negate="true" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="{URL}/" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="remove www" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://denishoctor.me{PATH_INFO}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>