/*****************************************************/
/*  Base                                             */
/*****************************************************/
html{height:100%;overflow-y:scroll;}
body{height:100%;color:#333;line-height:1.4;font-size:95%;}
body, input, button, textarea, select{font-family:serif;letter-spacing:.05em;}
h1, h2, h3, h4, h5, h6{font-family:'takeoutthegarbageRegular', 'Palatino Linotype', serif;letter-spacing:.05em;}
pre, tt, code, kbd, samp, var{font-family: 'Courier New', Courier, monospace;}
body, dl, dt, dd, ul, ol, li, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td{margin:0;padding:0;}
h1{font-size:3em;margin:0 0 12px;}
h2{font-size:2.5em;margin:0 0 8px;}
h3{font-size:2em;margin:0 0 6px;}
h4{font-size:1.6em;margin:0 0 4px;}
h5{font-size:1.2em;}
h6{font-size:1em;}
h2, h3, h4, h5{font-weight:normal;}
a{color:#4183C4;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}
a:focus{outline:1px dotted #000;}
a{outline:none;color:#4183C4;}
blockquote, q, em, cite, dfn, i, cite, var, address{font-style:italic;}
fieldset, img{border:0;}
img {vertical-align:bottom;}
sub{vertical-align:sub;font-size:smaller;}
sup{vertical-align:super;font-size:smaller;}
legend{padding-bottom:.5em;}
table{border-collapse:collapse;border-spacing:0;}
select{margin:0;}
p{margin:0 0 12px;padding:0;}
/* HTML5-specific CSS setup */
article,aside,figure,footer,header,hgroup,nav,section{display:block}

/*****************************************************/
/*  Fonts                                            */
/*****************************************************/
@font-face {
	font-family: 'takeoutthegarbageRegular';
	src: url('/static/fonts/take_out_the_garbage-webfont.eot');
	src: local('☺'), url('/static/fonts/take_out_the_garbage-webfont.woff') format('woff'), url('/static/fonts/take_out_the_garbage-webfont.ttf') format('truetype'), url('/static/fonts/take_out_the_garbage-webfont.svg#webfontizMzHv5e') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Hides font's till loaded */
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading body {visibility: hidden;}
.wf-active body {visibility:visible;font-family:'TitilliumText22LRegular', 'Helvetica Neue', Arial, Helvetica, sans-serif;}
.wf-active h1, .wf-inactive h1, .wf-active h2, .wf-inactive h2, .wf-active h3, .wf-inactive h3 {visibility:visible;font-family:'takeoutthegarbageRegular','Palatino Linotype',serif;}

/*****************************************************/
/* Styles for validation helpers                     */
/*****************************************************/
.field-validation-error{color: #ff0000;}
.field-validation-valid{display: none;}
.input-validation-error{border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors{font-weight: bold;color: #ff0000;}
.validation-summary-valid{display: none;}

/*****************************************************/
/*  Master                                           */
/*****************************************************/
header{background:url("/static/images/head-bg.jpg") no-repeat scroll 50% 0 #1e1d30;max-height:76px;padding:12px;overflow:hidden;}
    nav ul{height:1%;list-style:none;overflow:hidden;}
        nav li{color:#FFFFFF;float:left;font-size:21px;}
            nav li .button{font-size:0.85em;margin:21px 0 0;}
                nav h1{font-size:3.5em;font-style:italic;letter-spacing:0.02em;line-height:1.15em;margin:0 0 -8px;padding:0;text-shadow: #666 2px 2px 2px;}
                    h1 a{color:#FFF;text-decoration:none;}
            nav li ul{padding:0;}
                nav li ul li{font-family:takeoutthegarbageRegular,Palatino Linotype,Georgia;font-size:1.4em;padding-left:12px;}
                    nav span.home{background:url("/static/images/sprite.png") no-repeat scroll 0 4px transparent;padding-left:28px;}
                    nav span.portfolio{background:url("/static/images/sprite.png") no-repeat scroll 0 -26px transparent;padding-left:28px;}
                    nav span.mycv{background:url("/static/images/sprite.png") no-repeat scroll 0 -56px transparent;padding-left:28px;}
                    nav span.about{background:url("/static/images/sprite.png") no-repeat scroll 0 -86px transparent;padding-left:28px;}
section{padding:18px 24px 0 24px;}
#feature{background:url('/static/images/texture.png') repeat 0 0 #E3E3E3;border-bottom:2px solid #ccc;color:#000;}
    #feature article{padding-bottom:24px;}
        #feature h2{color:#333;font-weight:900;letter-spacing:0;line-height:1em;text-shadow:1px 1px 3px #666666;}
#content{overflow:hidden;position:relative;}
    #content article{float:left;margin-right:14px;width:525px;}

footer.body{background-color:#1e1d30;font-size:0.9em;overflow:hidden;padding:12px;margin-top:24px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    -moz-box-shadow:-3px 3px 6px #CCCCCC, 3px 3px 6px #CCCCCC;
    -webkit-box-shadow: -3px 3px 6px #CCCCCC, 3px 3px 6px #CCCCCC;
    box-shadow: -3px 3px 6px #CCCCCC, 3px 3px 6px #CCCCCC;
}
footer a{text-decoration:none;color:#fff;}
footer a:hover{text-decoration:underline;}

/*****************************************************/
/*  Homepage                                         */
/*****************************************************/
.whoami{background:url("/static/images/avatar-body.png") no-repeat scroll right top transparent;}
.whoami li{width:775px}

/*****************************************************/
/*  Road Map                                         */
/*****************************************************/
.roadmap section > ol{padding:0 0 1em 1em;background: url('/static/images/todo.png') no-repeat top right transparent;}
.roadmap section > ol > li {padding-bottom:8px;}
.roadmap section > ol > ul > li {padding-bottom:4px;}

/*****************************************************/
/*  Portfolio                                        */
/*****************************************************/
.portfolio section > ul > li{border-bottom:1px dashed #BBBBBB;list-style-type:none;margin-bottom:12px;overflow:hidden;padding:6px 6px 18px;}

.portfolio section ul img{border:1px solid #CCC;float:left;margin: 0px 1em 0px 0.5em;height:110px;width:160px;}
.portfolio section ul li:hover img{transform:scale(1.05);
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}
.portfolio section ul img + div{float:left;width:80%;}

/*****************************************************/
/*  About Me                                         */
/*****************************************************/            
#meontheweb{background-color:#FFFFFF;border:1px solid #CCC;float:right;margin:0 0 8px 8px;padding:0 12px 8px;}
    #meontheweb h3{margin-bottom:0;}
    #meontheweb ul{list-style:none;}
        #meontheweb a{background:url("/static/images/sprite.png") no-repeat scroll 0 0 transparent;display:block;line-height:24px;margin-bottom:3px;padding-left:32px;}
        #meontheweb a.linkedin{background-position:0 -120px;}
        #meontheweb a.facebook{background-position: 0 -150px;}
        #meontheweb a.github{background-position: 0 -180px;}
        #meontheweb a.stackoverflow{background-position: 0 -210px;}
        #meontheweb a.twitter{background-position: 0 -240px;}
#skillslist{overflow:hidden;width:380px;
	    /*-webkit-column-count: 2;
	    -webkit-column-gap: 50px;
	    column-count: 2;
	    column-gap: 50px;*/
    }
    #skillslist dt{clear:both;float:left;margin-bottom:6px;margin-right:12px;width:160px;}
    #skillslist dd{border:1px solid #CCC;background-color:#EDEDED;float:left;margin-bottom:6px;margin-top:2px;width:200px;
            -moz-border-radius:4px;
            border-radius:4px;
        }
        #skillslist div{background-color:#98BA40;height: 15px;text-indent: -9999px;
            background:-moz-linear-gradient(top center, #98BA40, #608925);
            background:-webkit-gradient(linear, 0% 10%, 0% 90%, from(#98BA40), to(#608925));
            -moz-border-radius:4px;
            border-radius:4px;
        }

/*****************************************************/
/*  CV                                               */
/*****************************************************/
.cv h2,.cv h3,.cv h4,.cv h5{font-family:'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;}
.cv h3{font-size:1.5em;}
.cv h4{font-size:1.3em;}
.cv h5{font-size:1.1em;}
.cv section{position:relative;}
.cv > ul{margin-bottom:1em;}
.cv h2{margin-bottom:12;font-size:3em;}
.cv h2 + h3{margin-top:0;}
.cv h3{margin-top:1em;border-bottom:1px solid #999;text-transform:uppercase;}
.cv h3.lower{text-transform:none;}
.cv h4{margin-top:18px;}
.projects{margin:0 0 1em 1em;}
.projects > ul{margin-left:1em;list-style:none;font-weight:900;}
.projects > ul > li{margin-bottom:6px;}
.projects > ul > li ul{font-weight:500;}
.cv .title{font-weight:900;}
#downloadcv{background:url("/static/images/down-icon.png") no-repeat scroll 16px 10px transparent;position:absolute;right:24px;top:10px;}
    #downloadcv div{float:left;margin-top:58px;text-align:center;width:76px;}
    #downloadcv img{margin-left:6px;height:100px;width:80px;}
/* HTML CV Page */
.htmlcv #downloadcv{display:none;}

/*****************************************************/
/*  Error                                            */
/*****************************************************/
.error.body{text-align:center;}

/*****************************************************/
/*  Module Classes                                   */
/*****************************************************/
    /*****************************************************/
    /*  Pipelist Module                                  */
    /*****************************************************/
    .pipelist{list-style:none;padding:0;margin:0;color:#fff;}
        .pipelist li{display:inline;padding:0;margin:0;}
        .pipelist li:before{content:"| ";}
        .pipelist li:first-child:before{content:"";}
    .pipelist.black{color:#000;}
    /* IE6 workarounds */
    * html .pipelist{height:1%;}
        * html .pipelist li{border-left:1px solid #fff;padding:0 0.4em 0 0.4em;margin:0 0.4em 0 -0.4em;}
        * html .pipelist li{display:block;float:left;}
        
    /*****************************************************/
    /*  Button Module                                    */
    /*****************************************************/
    button{background-color:#608925;border:none;color:#FFFFFF;font-weight:900;line-height: 20px;padding:4px 8px;text-shadow:2px 2px 2px #666;
        -moz-border-radius:4px;
        border-radius:4px;
        background:-moz-linear-gradient(top center, #98BA40, #608925);
        background:-webkit-gradient(linear, 0% 10%, 0% 90%, from(#98BA40), to(#608925));
    }
    
    .button {background-color:#608925;color:#FFFFFF;display:inline-block;font-weight:900;font-size:1.4em;padding:8px 12px;text-align:center;text-decoration:none;text-shadow:2px 2px 2px #666;
        -moz-border-radius:4px;
        border-radius:4px;
        background:-moz-linear-gradient(top center, #98BA40, #608925);
        background:-webkit-gradient(linear, 0% 10%, 0% 90%, from(#98BA40), to(#608925));
        /*-moz-box-shadow:-1px 1px 12px #7AAD2E;
        -webkit-box-shadow:-1px 1px 12px #7AAD2E;
        box-shadow:-1px 1px 12px #7AAD2E;*/
    }
    .button:hover, button:hover{background:#719b31;cursor:pointer;}
    
    /*****************************************************/
    /*  Tick List Module                                 */
    /*****************************************************/
    .whoami{color:#333333;font-size:1.1em;}
    .whoami li{margin-bottom:12px;}
    
    /*****************************************************/
    /*  List Module                                      */
    /*****************************************************/    
    ul.list li{background:url("/static/images/bullet.png") no-repeat 0 2px transparent;list-style:none;padding-left:36px;}

/*****************************************************/
/*  Generics                                         */
/*****************************************************/
.body{margin:0 auto;width:950px;}
.float-left{float:left;}
.float-right{float:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{float:right;}
.hide{display:none}
.lower{text-transform:lowercase;}
.completed{text-decoration:line-through;}
.indent{margin-left:2em;}
.append-top{margin-top:1em;}
.small{font-size:80%;}