/*****************************************************/
/*  Base                                             */
/*****************************************************/
html{height:100%;overflow-y:scroll;}
body{height:100%;color:#333;line-height:1.4;font-size:90%;}
body, input, button, textarea, select,
h1, h2, h3, h4, h5, h6{font-family:Palatino Linotype, Book Antiqua, Palatino, serif;letter-spacing:.05em;}
pre, tt, code, kbd, samp, var{font-family: "Courier New", Courier, monospace;}
body, dl, dt, dd, ul, ol, li, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td{margin:0;padding:0;}
h1{font-size:2em;margin:0 0 12px;padding:0;}
h2{font-size:1.7em;margin:0 0 8px;}
h3{font-size:1.5em;margin:0 0 6px;}
h4{font-size:1.3em;margin:0 0 4px;}
h5{font-size:1.1em;}
h6{font-size:1em;}
h1, h2, h3, h4, h5{font-weight:normal;}
a{color:#4183C4;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}
a:focus{outline:1px dotted #000;}
a{outline:none;color:#4183C4;}
blockquote, q, em, cite, dfn, i, cite, var, address{font-style:italic;}
fieldset, img{border:0;}
img {vertical-align:bottom;}
sub{vertical-align:sub;font-size:smaller;}
sup{vertical-align:super;font-size:smaller;}
legend{padding-bottom:.5em;}
table{border-collapse:collapse;border-spacing:0;}
select{margin:0;}
p{margin:0 0 12px;padding:0;}
/* HTML5-specific CSS setup */
article,aside,figure,footer,header,hgroup,nav,section{display:block}
ol ul,ul ul {padding-left:1.5em;}
ol ul ul,ul ul ul{padding-left:3em;}


/*****************************************************/
/* Styles for validation helpers                     */
/*****************************************************/
.field-validation-error{color: #ff0000;}
.field-validation-valid{display: none;}
.input-validation-error{border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors{font-weight: bold;color: #ff0000;}
.validation-summary-valid{display: none;}

/*****************************************************/
/*  Master                                           */
/*****************************************************/
header{background-color:#222;padding:12px;}
    nav ul{height:1%;list-style:none;overflow:hidden;}
        nav li{color:#FFFFFF;float:left;font-size:21px;padding-right:12px;}
        nav li .button{font-size:0.85em;margin-top:4px;}
            nav h1{height:48px;margin-bottom:0;}
                h1 img{vertical-align:top;margin-right:56px;height:48px;width:286px;}
section{padding:18px 24px 0 24px;}
#feature{background:url('/images/texture.png') repeat 0 0 #E3E3E3;border-bottom:2px solid #ccc;color:#000;}
    #feature article{padding-bottom:24px;}
        #feature h2{color:#333;font-weight:900;letter-spacing:0;line-height:1em;text-shadow:1px 1px 3px #666666;}
        article .button{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;margin-left:12px;width:250px;}
        #feature .ticklist{margin-bottom:32px;}
#content{width:950px;overflow:hidden;}
    #featureList{border-left:1px solid #CCCCCC;float:right;list-style:none;margin-bottom:24px;padding-left:12px;width:398px;}
        #featureList li{display:inline-block;vertical-align:top;width:190px;}
        /* IE makes me sad */
        *:first-child+html #featureList li{float:left;}
        * html #featureList li{float:left;margin-bottom:8px;}
        #featureList li:nth-child(2n+1){margin-right:12px;}
        #featureList li:nth-child(1), #featureList li:nth-child(2){margin-bottom:14px;}
            #featureList img {border:1px solid #CCCCCC;}
            #featureList li h2{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;font-weight:900;margin-top:6px;}
    #content article{float:left;margin-right:14px;width:525px;}
    #content > ul, #content > ol{margin-left:1.5em;}
    #productDetail{padding-bottom:12px;}
        #productDetail h2{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;line-height:1.1em;margin-bottom:24px;}
        #productDetail div{float:left;height:125px;margin-bottom:24px;width:50%;}
        #productDetail ul{/*background:url("/static/images/phone.png") no-repeat scroll 33px 0 transparent;padding:4px 0 0 120px;height:90px;*/float:left;margin:0 8px 0 18px;}
            #productDetail li{margin-bottom:4px;}
        /* IE makes me sad */
        *:first-child+html #productDetail div{width:49%;}
        * html #productDetail div{width:49%;}
            #productDetail h3{color:#3671A1;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:1em;font-weight:900;text-transform:uppercase;}
            #productDetail p{height:180px;width:95%;}

footer.body{background-color:#222;font-size:0.9em;overflow:hidden;padding:12px;margin-top:24px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    -moz-box-shadow:-3px 3px 6px #CCCCCC, 3px 3px 6px #CCCCCC;
    -webkit-box-shadow: -3px 3px 6px #CCCCCC, 3px 3px 6px #CCCCCC;
    box-shadow: -3px 3px 6px #CCCCCC, 3px 3px 6px #CCCCCC;
}
footer a{text-decoration:none;color:#fff;}
footer a:hover{text-decoration:underline;}


/*****************************************************/
/*  Homepage                                         */
/*****************************************************/


/*****************************************************/
/*  Road Map                                         */
/*****************************************************/
.roadmap > ol{padding:0 0 1em 1em;background: url('/static/images/todo.png') no-repeat top right transparent;}
.roadmap > ol > li {padding-bottom:8px;}
.roadmap > ol > ul > li {padding-bottom:4px;}

/*****************************************************/
/*  Portfolio                                        */
/*****************************************************/
.portfolio > ul > li{border-bottom:1px dashed #BBBBBB;list-style-type:none;margin-bottom:12px;padding:6px 6px 18px;}
.portfolio ul > li li{list-style-type:disc;}
.portfolio > ul > li > img ~ ul{margin-left:12em;}
.portfolio ul img{float:left;margin-right:1em;height:110px;width:160px;}

/*****************************************************/
/*  About Me                                         */
/*****************************************************/

/*****************************************************/
/*  CV                                               */
/*****************************************************/
.cv{position:relative;}
.cv > ul{margin-bottom:1em;}
.cv h2{margin-bottom:0;font-size:3em;}
.cv h2 + h3{margin-top:0;}
.cv h3{margin-top:1em;border-bottom:1px solid #999;text-transform:uppercase;}
.cv h3.lower{text-transform:none;}
.cv h4{margin-top:18px;}
.projects{margin:0 0 1em 1em;}
.projects > ul{margin-left:1em;}
.projects > ul > li{font-weight:900;}
.projects > ul > li ul{font-weight:500;}
.cv .title{font-weight:900;}
.downlodcv{background:url("/static/images/dl-cv.png") no-repeat scroll 0 0 transparent;
display:block;
height:88px;
margin-right:18px;
position:absolute;
right:0;
text-decoration:none;
top:6px;
width:175px;}
    .downlodcv div.dl{line-height:1em;margin-left:94px;margin-top:3px;}
    .downlodcv div{margin-left:107px;}
/*****************************************************/
/*  Module Classes                                   */
/*****************************************************/
    /*****************************************************/
    /*  Pipelist Module                                  */
    /*****************************************************/
    .pipelist{list-style:none;padding:0;margin:0;color:#fff;}
        .pipelist li{display:inline;padding:0;margin:0;}
        .pipelist li:before{content:"| ";}
        .pipelist li:first-child:before{content:"";}
    .pipelist.black{color:#000;}
    /* IE6 workarounds */
    * html .pipelist{height:1%;}
        * html .pipelist li{border-left:1px solid #fff;padding:0 0.4em 0 0.4em;margin:0 0.4em 0 -0.4em;}
        * html .pipelist li{display:block;float:left;}
    /*****************************************************/
    /*  Button Module                                    */
    /*****************************************************/
    button{background-color:#608925;border:none;color:#FFFFFF;font-weight:900;line-height: 20px;padding:4px 8px;text-shadow:2px 2px 2px #666;
        -moz-border-radius:4px;
        border-radius:4px;
        background:-moz-linear-gradient(top center, #98BA40, #608925);
        background:-webkit-gradient(linear, 0% 10%, 0% 90%, from(#98BA40), to(#608925));
    }
    
    .button {background-color:#608925;color:#FFFFFF;display:inline-block;font-weight:900;font-size:1.4em;padding:8px 12px;text-align:center;text-decoration:none;text-shadow:2px 2px 2px #666;
        -moz-border-radius:4px;
        border-radius:4px;
        background:-moz-linear-gradient(top center, #98BA40, #608925);
        background:-webkit-gradient(linear, 0% 10%, 0% 90%, from(#98BA40), to(#608925));
        /*-moz-box-shadow:-1px 1px 12px #7AAD2E;
        -webkit-box-shadow:-1px 1px 12px #7AAD2E;
        box-shadow:-1px 1px 12px #7AAD2E;*/
    }
    .button:hover, button:hover{background:#719b31;cursor:pointer;}
    /*****************************************************/
    /*  Tick List Module                                 */
    /*****************************************************/
    .whoami{color:#333333;font-size:1.1em;padding-left:1em;}
    .whoami li{margin-bottom:12px;}

/*****************************************************/
/*  Generics                                         */
/*****************************************************/
.body{margin:0 auto;width:950px;}
.float-left{float:left;}
.float-right{float:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{float:right;}
.hide{display:none}
.lower{text-transform:lowercase;}