<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8" /> 
    <meta name="description" content="" /> 
    <meta name="keywords" content="denis hoctor web design development JavaScript CSS HTML5 XHTML C# XML JSON SQL jQuery ASP.NET MVC ASP.NET 2.0 – 4.0 Progressive Enhancement Mobile SEO W3C Google Maps Photoshop ireland arrabeg carrig" /> 
    <link rel="canonical" href="http://denishoctor.me/" /> 
    <title>Error Occurred - Denis Hoctor</title> 
 
    <link rel="stylesheet" href="/static/css/site.css?" media="screen,print" /> 
    <link rel="shortcut icon" href="/favicon.ico" /> 
 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
</head> 
<body> 
    <header> 
        <nav class="body"> 
          <ul> 
            <li><h1><a href="/" title="Front End Web Developer with C# &amp; ASP.NET MVC">Denis Hoctor</a></h1></li> 
            <li class="float-right"> 
                <ul> 
                    <li><a href="/" class="button"><span class="home">Home</span></a></li> 
                    <li><a href="/portfolio" class="button"><span class="portfolio">Portfolio</span></a></li> 
                    <li><a href="/cv" class="button"><span class="mycv">My CV</span></a></li> 
                    <li><a href="/about" class="button"><span class="about">About Me</span></a></li> 
                </ul> 
            </li> 
          </ul> 
        </nav> 
    </header>    
    
    <section id="feature"> 
        <article class="body">        
            <h2>Oops, something went wrong somewhere.</h2>    
            <p>I swear this almost never happens! Please contact me to give me a heads up and I'll fix the issue ASAP.</p> 
        </article> 
    </section> 
    <section id="content" class="body error"> 
        <img src="/static/images/error.gif" alt="Depressed Boy" title="Oops, something went wrong" /> 
    </section> 
 
    <footer class="body"> 
        <ul class="pipelist float-right"> 
            <li><a href="/portfolio">Portfolio</a></li> 
            <li><a href="/cv">My CV</a></li> 
            <li><a href="/about">About Me</a></li> 
            <li><a href="/roadmap">Site Roadmap</a></li> 
            <li><a href="mailto:denishoctor@gmail.com">Contact</a></li> 
        </ul> 
    </footer>    
    
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script> 
    <script>
        WebFont.load({
            custom: {
                families: ['Tagesschrift'],
                urls: ['http://paulirish.com/tagesschrift.css']
            }
        });
    </script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <% if (Request.Url.Host.Contains("denishoctor.me")) { %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1206900-5']);
        _gaq.push(['_setDomainName', '.denishoctor.me']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = 'http://www.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <% } %>    
</body> 
</html>